.task1 {
  font-family: sans-serif;
}

.menu {
  margin: 0px 0 20px 0;
  height: 20px;
  padding: 10px 0 10px 0;
}

.menu__item {
  padding: 10px;  
  border: 1px solid black;
  color: black;
  text-decoration: none;
}

.menu__item:hover {
  background-color: hsl(60, 66%, 82%);
}

.menu__item-active,
.menu__item-active:hover {
  background-color: hsl(120, 91%, 59%);
}